body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto;
}

code {
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  list-style: none;
}

/*
  Full calender styles override
*/
button.fc-prev-button.fc-button.fc-button-primary,
button.fc-next-button.fc-button.fc-button-primary {
  margin-right: 0.5rem !important;
  color: rgb(247, 160, 131) !important;
  background-color: rgb(240, 228, 228);
}

.fc .fc-button-primary {
  border-color: transparent;
}

.logo img {
  width: 140px;
}

.nav-content {
  margin: 0 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.nav-user-info {
  display: flex;
}

.nav-user-info-content {
  display: flex;
  align-items: center;
}

.nav-user-info-content-label {
  margin-right: 10px;
}

.nav-user-info-content img {
  height: auto;
  width: 51px;
}
