body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Times New Roman', Times, serif;
}

code {
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  list-style: none;
}
.nav-header {
  color: white;
  background-color: #818cf8;
}

.nav-content {
  margin: 0.2rem 0.5rem;
  align-items: center;
  justify-content: center;
}
